<!-- start:lunr-search-navbar.hbs -->
<form class="d-flex ms-auto" role="search">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search" id="lunr-search-input">
		<button class="btn btn-outline-secondary" type="button" id="lunr-search-submit">
			<i class="ph ph-magnifying-glass"></i>
		</button>
	</div>
</form>
<!-- start:lunr-search-navbar.hbs -->
