.access-filter {
	font-size: 12px;
	color: #767676;
}
.access-filter .form-check-inline {
	color: #767676;
	margin-right: 8px;
	cursor: pointer;
}
.access-filter .form-check-input {
	margin-top: 0.2em;
}
.access-filter .form-check-inline:hover,
.access-filter .form-check-inline:focus,
.access-filter .form-check-inline.checked {
	color: #337ab7;
}
