:root {
	--fd-primary: #0d6efd;
	--fd-success: #198754;
	--fd-danger: #dc3545;
	--fd-warning: #ffc107;
	--fd-code: #d63384;
}
html {
	margin-top: 50px;
	background-color: #f9f9f9;
}
.navbar-brand img.branding-logo {
	height: 30px;
	width: auto;
}
.main-content {
	padding-bottom: 200px;
}
.main-content h1,
.main-content h2 {
	border-bottom: 1px solid #eee;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 9px;
}
.main-content .primary p+h1,
.main-content .primary p+h2,
.main-content .readme-section p+h1,
.main-content .readme-section p+h2,
.main-content .tutorial-section p+h1,
.main-content .tutorial-section p+h2,
.main-content .related-tutorials h2 {
	margin-top: 40px;
}
.dropdown-menu li a {
	display: block;
	padding: .25rem 1rem;
	color: var(--bs-dropdown-link-color, #212529);
	text-decoration: none;
	white-space: nowrap;
}
.dropdown-menu li a:hover {
	background-color: var(--bs-dropdown-link-hover-bg, #e9ecef);
	color: var(--bs-dropdown-link-hover-color, #1e2125);
}
footer {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	padding: 15px;
	text-align: center;
	background-color: #f9f9f9;
	border-top: solid 1px #ddd;
	font-size: small;
	color: #777;
}