{{!--
  source.hbs - Pretty-printed source file viewer.

  Overrides the "content" block to display the raw source code with Prism.js
  syntax highlighting. The `doclet.code` is HTML-escaped during registration
  by postProcessor.registerSources(). Line numbers are toggled via options.linenums.
--}}
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="source-section">
			<article>{{{doclet.contents}}}</article>
			<pre class="prettyprint source language-javascript{{#if options.linenums}} line-numbers{{/if}}"><code class="language-javascript">{{{doclet.code}}}</code></pre>
		</section>
	{{/content}}

{{/extend}}