{{!--
  tutorial.hbs - Tutorial page template.

  Renders the tutorial's markdown content and appends a "Related Tutorials"
  list if the tutorial has child tutorials (defined in tutorials.json).
  The tutorial hierarchy is processed by postProcessor.registerTutorials().
--}}
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="tutorial-section">
			<article>{{{doclet.contents}}}</article>
			{{#if doclet.children}}
				<div class="related-tutorials">
					<h2><i class="ph ph-book-open"></i> Related Tutorials</h2>
					<ul>
						{{#each doclet.children}}
							<li>{{linkto longname}}</li>
						{{/each}}
					</ul>
				</div>
			{{/if}}
		</section>
	{{/content}}

{{/extend}}