{{#if exceptions}}
	{{#callout "Throws" "callout-danger"}}
		<form class="details-form exceptions">
			{{#each exceptions}}
				<div class="row mb-2">
					<label class="col-sm-3 col-form-label exceptions-type">{{type-names type}}</label>
					<div class="col-sm-9">
						<div class="form-control-plaintext exceptions-description">{{{description}}}</div>
					</div>
				</div>
			{{/each}}
		</form>
	{{/callout}}
{{/if}}