{{#if fires}}
	{{#callout "Fires" "callout-warning"}}
		<form class="details-form fires">
			{{#each fires}}
				<div class="row mb-2">
					<label class="col-sm-3 col-form-label fires-event">{{{link}}}</label>
					<div class="col-sm-9">
						<div class="form-control-plaintext fires-summary">{{{summary}}}</div>
					</div>
				</div>
			{{/each}}
		</form>
	{{/callout}}
{{/if}}