{{#if requires}}
	{{#callout "Requires" "callout-warning"}}
		<form class="details-form requires">
			{{#each requires}}
				<div class="row mb-2">
					<label class="col-sm-3 col-form-label requires-type">{{{link}}}</label>
					<div class="col-sm-9">
						<div class="form-control-plaintext requires-summary">{{{summary}}}</div>
					</div>
				</div>
			{{/each}}
		</form>
	{{/callout}}
{{/if}}